{%- extends config.RECORDS_UI_BASE_TEMPLATE %}

{%- macro record_content(data) %}
  {% for key, value in data.items() recursive %}
    <li class="list-group-item">
    {% if value is mapping %}
        <strong>{{ key }}:</strong>
        <ul class="list-group">{{ loop(value.items()) }}</ul>
    {% elif value is iterable and value is not string %}
        <strong>{{ key }}:</strong>
        <ol>
        {% for item in value %}
          <li>
          {% if item is mapping %}
            <ul class="list-group">
              {{ record_content(item) }}
            </ul>
          {% else %}
            {{ item }}
          {% endif %}
          </li>
        {% endfor %}
        </ol>
    {% else %}
      <strong>{{ key }}:</strong> {{ value }}
    {% endif %}
    </li>
  {% endfor %}
{%- endmacro %}

{%- block page_body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2> {{ record.title_statement.title }}</h2>
        <hr />
        <p class="lead">{{ record.summary[0].summary }}</p>
        <hr />
        <h3> {{ _('Metadata') }}</h3>
        <div calss="well">
          {{ record_content(record) }}
        </div>
      </div>
    </div>
  </div>
{%- endblock %}
